* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.App-content {
  max-width: 1300px;
  margin: 0 auto;
  position: relative;
}

.NAVBAR {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.MENU {
  background-color: rgba(0, 0, 0, 0.336);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  z-index: 999;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

ul {
  list-style: none;
}


:root {
  --primary-background-color: white;
  --secondary-background-color: #D9D9D9;
  --third-backgrond-color: #EEEEEE;
  --blue:#0062FF;
  --darkerBlue: #0D2346;

  --User-pp-background-color: rgb(41, 7, 73);

  --color:rgba(30, 30, 30, 0.8);
  --color-black: black;
  color: var(--color);
}


.cursor:hover {
  cursor: pointer;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}